.main {
    text-align: center;
}

#restaurantList {
    padding: 0%;
    list-style-type: none;
    background-color: antiquewhite;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}

#restaurantList li {
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}

#restaurantList li:hover {
    cursor: pointer;
    transition: 0.5s;
}

#restauranteImagem {
    width: 50%;
    height: 50%;
}

#cardapioTitle {
    transition: 0.5s;
    border-radius: 10px;
    display: inline-block;
    background-color: antiquewhite;
}

#cardapioTitle:hover {
    transition: 0.5s;
    cursor: pointer;
}